In [49]:
%config IPCompleter.greedy=True

# Carga de datos con la función read_csv

In [50]:
import pandas as pd
import os
os.getcwd() # Para obtener el directorio de trabajo

'/Users/carlosdavila/Developer/Anaconda-projects/Curso-ml-python/jupiter-notebooks'

In [96]:
coursepath = "/Users/carlosdavila/Developer/GitHub/python-ml-course/datasets"
mypath = "/Users/carlosdavila/Developer/Anaconda-projects/Curso-ml-python/datasets"
filename = "titanic/titanic3.csv"
fullpath = os.path.join(coursepath, filename)

In [52]:
data1 = pd.read_csv(fullpath)

In [53]:
data1.head()

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1,0,"Allison, Miss. Helen Loraine",female,2.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1,2,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"

In [54]:
data2 = pd.read_csv(coursepath + "/" + "/customer-churn-model/Customer Churn Model.txt")

In [55]:
data2.head()

,State,Account Length,Area Code,Phone,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,...,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False.
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False.
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False.
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False.
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False.

In [56]:
data2.columns.values

array(['State', 'Account Length', 'Area Code', 'Phone', "Int'l Plan",
       'VMail Plan', 'VMail Message', 'Day Mins', 'Day Calls',
       'Day Charge', 'Eve Mins', 'Eve Calls', 'Eve Charge', 'Night Mins',
       'Night Calls', 'Night Charge', 'Intl Mins', 'Intl Calls',
       'Intl Charge', 'CustServ Calls', 'Churn?'], dtype=object)

In [57]:
data_cols = pd.read_csv(coursepath + "/" + "/customer-churn-model/Customer Churn Columns.csv")
data_col_list = data_cols["Column_Names"].tolist()
data2 = pd.read_csv(coursepath + "/" + "/customer-churn-model/Customer Churn Model.txt", 
                    header = None, names = data_col_list)
data2.columns.values

array(['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M',
       'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U'], dtype=object)

# Carga de datos a través de la función `open`

Al leer un fichero en modo open, lo podemos hacer indicando los siguientes parámetros según nos interese:

- `"r"` -> **en modo sólo lectura**
- `"rw"` -> **en modo lectura y escritura**
- `"w"` -> **en modo sólo escritura**

**Por defecto se abrirá en modo sólo lectura.**

Aunque en este caso sólo se utilizó el modo "r" (lectura) siempre es bueno recordar lo siguiente para evitar problemas con los ficheros:

Hay que tener cuidado al abrir un fichero en modo "w" (escritura) ya que esto hará que dicho fichero pierda su contenido (en caso de tenerlo y querer conservarlo). **Si por algún motivo se quiere agregar contenido a este es recomendable abrirlo en modo "a" (append), lo cual posicionará el cursor al final y no borrará el contenido del mismo.**

In [63]:
data3 = open(coursepath + "/" + "/customer-churn-model/Customer Churn Model.txt",
            "r")
data3

Las funciones empleadas para leer el fichero son las siguientes:

- `.readline(size)` **lee una línea completa de la tabla. _Size_ es el número de bits a leer, opcional**
- `.strip([char])` **elminar caracteres al principio y al final de la línea de caracteres en función de los argumentos. El argumento vacío indicará que se borren espacios en blanco** 
- `.split( )` **agregar `","`, `";"`, `"/t"`,... s/ fichero**

In [66]:
cols = data3.readline().strip().split(",")
n_cols = len(cols)
n_cols

21

El resultado de `cols` es una lista con los nombres de las variables (de la primera línea del fichero).

In [70]:
type(cols)

list

In [72]:
len(cols)

21

In [74]:
range(len(cols))

range(0, 21)

Para leer de manera "manual" hay que crear un diccionario nuevo con los nombres de las columnas y valores vacíos. 

Se puede hacer mediante un bucle, usando los nombres guardados en  `cols`.

El resultado es un objeto de tipo `.jason`, es decir, un diccionario.

In [69]:
counter = 0 # poner contador a 0
main_dict = {} # crear diccionario principal nuevo
for col in cols: # para cada columna (objeto col que te inventas)
    main_dict[col] = [] # crea una lista = a lo que hay dentro de `[]`

dict

Ahora se "rellena" el diccionario con los valores del fichero. Para esto se crea el siguiente bucle.

In [75]:
for line in data3: # Para cada línea (objeto line que te inventas) en data3
    values = line.strip().split(",") # el valor (objeto) será igual a las líneas de data3 separadas por ',' sin espacios en blanco
    for i in range(len(cols)): # para i en el rango de 0 a la longitud de cols (número de columas)
        main_dict[cols[i]].append(values[i]) # añade el valor en el diccionario a cada columna su valor colrrespondiente para cada fila
    counter += 1 # incrementa 1 la cuenta cada vez

print("El data set tiene %d filas y %d columnas"%(counter,n_cols))

El data set tiene 3332 filas y 21 columnas

El proceso se realizó con un archivo tipo `jason`. **Para convertirlo en un data frame** volvemos a la librería `pandas` y usamos la función `DataFrame()`.

In [76]:
df3 = pd.DataFrame(main_dict)
df3.head()

,KS,128,415,382-4657,no,yes,25,265.100000,110,45.070000,...,99,16.780000,244.700000,91,11.010000,10.000000,3,2.700000,1,False.
0,OH,107,415,371-7191,no,yes,26,161.600000,123,27.470000,...,103,16.620000,254.400000,103,11.450000,13.700000,3,3.700000,1,False.
1,NJ,137,415,358-1921,no,no,0,243.400000,114,41.380000,...,110,10.300000,162.600000,104,7.320000,12.200000,5,3.290000,0,False.
2,OH,84,408,375-9999,yes,no,0,299.400000,71,50.900000,...,88,5.260000,196.900000,89,8.860000,6.600000,7,1.780000,2,False.
3,OK,75,415,330-6626,yes,no,0,166.700000,113,28.340000,...,122,12.610000,186.900000,121,8.410000,10.100000,3,2.730000,3,False.
4,AL,118,510,391-8027,yes,no,0,223.400000,98,37.980000,...,101,18.750000,203.900000,118,9.180000,6.300000,6,1.700000,0,False.

# Lectura y escritura de ficheros

Ahora reescribiremos el data frame como un fichero de valores separados por tabuladores (`"/t"`).

En primer lugar, cargamos los datos de nuevo como solo lectura, y creamos el archivo en el que re escribiremos los datos, creando objetos, para que al escribir las órdenes sea más cómo hacer referencia a ellos.

In [77]:
infile = coursepath + "/" + "/customer-churn-model/Customer Churn Model.txt"
outfile = coursepath + "/" + "/customer-churn-model/Tab Customer Churn Model.txt"
# como solo lectura y nuevo nombre
with open(infile, "r") as infile1:
    # como solo escritura y nuevo nombre
    with open(outfile, "w") as outfile1: 
        # para cada en el archivo de entrada
        for line in infile1:
           # crea fields como las líneas del archivo de entrada sin espacios en blanco separadas por coma
            fields = line.strip().split(",")
            # escribe en el archivo de salida la unión de fields separadas por "/t"       
            outfile1.write("\t".join(fields))
            # para determinar la separación de líneas
            outfile1.write("\n")

Ahora volvemos a cargar los datos que acabamos de escribir, teniendo en cuenta que el separador es un tabulador `\t`, y por tanto, indicándolo en la función de lectura de ficheros `csv` de `pandas`.

In [78]:
df4 = pd.read_csv(outfile, sep = "\t")
df4.head()

,State,Account Length,Area Code,Phone,Int'l Plan,VMail Plan,VMail Message,Day Mins,Day Calls,Day Charge,...,Eve Calls,Eve Charge,Night Mins,Night Calls,Night Charge,Intl Mins,Intl Calls,Intl Charge,CustServ Calls,Churn?
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False.
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False.
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False.
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False.
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False.

# Leer datos desde una URL externa

In [79]:
medals_url = "http://winterolympicsmedals.com/medals.csv"

In [80]:
medals_data = pd.read_csv(medals_url)
medals_data.head()

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
0,1924,Chamonix,Skating,Figure skating,AUT,individual,M,Silver
1,1924,Chamonix,Skating,Figure skating,AUT,individual,W,Gold
2,1924,Chamonix,Skating,Figure skating,AUT,pairs,X,Gold
3,1924,Chamonix,Bobsleigh,Bobsleigh,BEL,four-man,M,Bronze
4,1924,Chamonix,Ice Hockey,Ice Hockey,CAN,ice hockey,M,Gold

## Otras vías

Las siguientes funciones serán de gran utilidad a la hora de importar datos desde una URL:

- `csv`
- `urllib3`

Para instalarlos lo hacemos de la siguiente manera, teniendo en cuenta que el paquete `urllib3` tiene unas condiciones de importación específicas (ver documentación en `https://urllib3.readthedocs.io/en/latest/`)

In [81]:
import urllib3
http = urllib3.PoolManager()
r = http.request('GET', medals_url)
r.status
response = r.data # se crea un único string con las comas y \n

In [83]:
#str(response)

# Ejercicio

A continuación se deberá reescribir el fichero obtenido en un csv separado por tabuladores.

**Hint del profe: Se puede hacer con la función `open()`, igual que antes**

## Solución propia

La solución empleada tras buscar por stackoverflow consiste en lo siguiente.

En primer lugar, como `response` es un objeto de codificación binaria (es una cadena de caracteres que empieza por la letra `b`, de codificación tipo `UTF-8` ), hay que convertirlo en una cadena de caracteres unaria mediante la función `decode`.

In [84]:
import csv
# Separar las filas en la cadena de caracteres única
response_splt = response.decode('utf-8')
# response_splt

A continuación se empleó el módulo `StringIO` que implementa una clase de tipo archivo y lee o escribe una cadena de tipo búfer. (ver documentación en https://docs.python.org/2/library/stringio.html).
Este se combinó con la función `read_csv` para leer la cadena de caracteres como un csv y convertirlo en data frame.
Por último, se guardó el data frame mediante la función descrita anteriormente `to_csv`.

In [85]:
from pandas.compat import StringIO
medals_df = pd.read_csv(StringIO(response_splt), sep = ",")
medals_df.to_csv(mypath + "/medals/medals.csv")
medals_df.head()

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
0,1924,Chamonix,Skating,Figure skating,AUT,individual,M,Silver
1,1924,Chamonix,Skating,Figure skating,AUT,individual,W,Gold
2,1924,Chamonix,Skating,Figure skating,AUT,pairs,X,Gold
3,1924,Chamonix,Bobsleigh,Bobsleigh,BEL,four-man,M,Bronze
4,1924,Chamonix,Ice Hockey,Ice Hockey,CAN,ice hockey,M,Gold

Se escribió el archivo como `csv` separado por tabulaciones (`\t`) como se había pedido para el ejercicio.

In [86]:
# Crear archivo de escritura
infile2 = mypath + "/medals/medals.csv"
outfile2 = mypath + "/" + "medals/medals_tab.csv"

with open(infile2, "r") as infile3:
    with open(outfile2, "w") as outfile3:
        for line in infile3:
            fields = line.strip().split(",")
            outfile3.write("\t".join(fields))
            outfile3.write("\n")

A continuación, se cargaron los datos de nuevo para comprobar que está bien hecho.

In [87]:
df_medals_result = pd.read_csv(outfile2, sep = "\t", index_col = 0)
df_medals_result.head()

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
0,1924,Chamonix,Skating,Figure skating,AUT,individual,M,Silver
1,1924,Chamonix,Skating,Figure skating,AUT,individual,W,Gold
2,1924,Chamonix,Skating,Figure skating,AUT,pairs,X,Gold
3,1924,Chamonix,Bobsleigh,Bobsleigh,BEL,four-man,M,Bronze
4,1924,Chamonix,Ice Hockey,Ice Hockey,CAN,ice hockey,M,Gold

## Solución del profesor

In [88]:
# Primero importa la librería y hace la conexión externa
import urllib3
http = urllib3.PoolManager()
r = http.request('GET', medals_url)
print("El estado de la respuesta es %d"%(r.status))
response = r.data

El estado de la respuesta es 200

**Que la respuesta del servidor sea 200 significa que la conexión es buena**

In [89]:
# El string binario lo decodifica a UTF-8
str_data = response.decode('utf-8')

# Divide el string en un array de filas, separándolo por intros (\n) y creando una lista de valores
lines = str_data.split('\n')

# Delimita la cabecera como la línea 0 y separando por ','.
col_names = lines[0].split(',')
# Define el número de columnas
n_cols = len(col_names)

# Ahora repite el proceso de crear un diccionario vacío donde va la información procesada de la URL externa
counter = 0
main_dict = {}
for col in col_names: # para cada columna (objeto col inventado) en el objeto con el nombre de todas las columnas
    main_dict[col] = [] # agrega una lista vacía

# Y de nuevo un bucle para rellenar el diccionario:
for line in lines:
    # Saltando la primera fila que es donde va el encabezado
    if(counter > 0):
        # Divide cada string por las comas como elemento separador
        values = line.strip().split(",")
        # Añade cada valor a su respectiva columna del diccionario de longitud igual al numero de columnas
        for i in range(len(col_names)):
            main_dict[col_names[i]].append(values[i])
    counter += 1

print("El data set tiene %d filas y %d columnas"%(counter, n_cols))

# Luego convierte el diccionario procesado a Data Frame y comprueba que los datos son correctos
medals_df = pd.DataFrame(main_dict)
print(medals_df.head())

# Y guarda el data frame en su carpeta (en mi caso la guardo en mi carpeta del curso)
filename = "medals/medals_teacher_solution."
fullpath = os.path.join(mypath, filename)

# Lo guarda en CSV, en JSON o en XLS
medals_df.to_csv(fullpath + "csv")
medals_df.to_json(fullpath + "json")
medals_df.to_excel(fullpath + "xls")

El data set tiene 2312 filas y 8 columnas
   Year      City       Sport      Discipline  NOC       Event Event gender  \
0  1924  Chamonix     Skating  Figure skating  AUT  individual            M
1  1924  Chamonix     Skating  Figure skating  AUT  individual            W
2  1924  Chamonix     Skating  Figure skating  AUT       pairs            X
3  1924  Chamonix   Bobsleigh       Bobsleigh  BEL    four-man            M
4  1924  Chamonix  Ice Hockey      Ice Hockey  CAN  ice hockey            M

    Medal
0  Silver
1    Gold
2    Gold
3  Bronze
4    Gold

In [91]:
type(lines)

list

# Generar una función propia

El profesor aprovecha este último ejercicio para explicar como crear una función propia. El objetivo es tener una finción lo más reproducible posible para otros casos, por lo que las variables las introducimos como parámetros de nuestra función. En este caso, construimos la función genérica para descargar data sets de internet, a través de la URL

Para introducir parámetros con valores por defecto, se introducen en la función dándoles un valor determinado `nombre_funcion`(`parametro = valorparametro`).

In [105]:
def downloadFromURL(url, filename, protocol = "GET", encoding = 'utf-8', delim = '\n', sep = ',', 
                    mainpath = "/Users/carlosdavila/Developer/Anaconda-projects/Curso-ml-python/datasets"):
    
    # Primero importa la librería y hace la conexión externa
    import urllib3
    http = urllib3.PoolManager()
    r = http.request(protocol, url)
    print("El estado de la respuesta es %d"%(r.status))
    response = r.data

    # El string binario lo decodifica pero a UTF-8
    str_data = response.decode(encoding)

    # Divide el string en un array de filas, separándolo por intros (\n)
    lines = str_data.split(delim)

    # Delimita la cabecera como la línea 0 y separando por ,
    # Define el número de columnas
    col_names = lines[0].split(sep)
    n_cols = len(col_names)

    # Ahora repite el proceso de crear un diccionario vacío donde va la información procesada de la URL externa
    counter = 0
    main_dict = {}
    for col in col_names:
        main_dict[col] = []

    # Procesa fila a fila la info para ir rellenando el diccionario con los datos como hizo antez
    for line in lines:
        # Saltando la primera fila que es donde va el encabezado
        if(counter > 0):
            # Divide cada string por las comas como elemento separador
            values = line.strip().split(sep)
            # Añade cada valor a su respectiva columna del diccionario
            for i in range(len(col_names)):
                main_dict[col_names[i]].append(values[i])
        counter += 1

    print("El data set tiene %d filas y %d columnas"%(counter, n_cols))

    # Luego convierte el diccionario procesado a Data Frame y comprueba que los datos son correctos
    df = pd.DataFrame(main_dict)
    print(df.head())

    # Y guarda el data frame en su carpeta (en mi caso la guardo en mi carpeta del curso)
#    mainpath = "/Users/carlosdavila/Developer/Anaconda-projects/Curso-ml-python/datasets"
#    filename = "medals/medals_teacher_solution"
    fullpath = os.path.join(mainpath, filename)
    print("El data frame se ha guardado correctamente en"+mainpath)
    # Lo guarda en CSV, en JSON o en XLS
    df.to_csv(fullpath + ".csv")
    df.to_json(fullpath + ".json")
    df.to_excel(fullpath + ".xls")
    
    return df

In [106]:
medals_df = downloadFromURL(medals_url,"medals/medals_teacher_solution")
medals_df.head()

El estado de la respuesta es 200
El data set tiene 2312 filas y 8 columnas
   Year      City       Sport      Discipline  NOC       Event Event gender  \
0  1924  Chamonix     Skating  Figure skating  AUT  individual            M
1  1924  Chamonix     Skating  Figure skating  AUT  individual            W
2  1924  Chamonix     Skating  Figure skating  AUT       pairs            X
3  1924  Chamonix   Bobsleigh       Bobsleigh  BEL    four-man            M
4  1924  Chamonix  Ice Hockey      Ice Hockey  CAN  ice hockey            M

    Medal
0  Silver
1    Gold
2    Gold
3  Bronze
4    Gold
El data frame se ha guardado correctamente en/Users/carlosdavila/Developer/Anaconda-projects/Curso-ml-python/datasets

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
0,1924,Chamonix,Skating,Figure skating,AUT,individual,M,Silver
1,1924,Chamonix,Skating,Figure skating,AUT,individual,W,Gold
2,1924,Chamonix,Skating,Figure skating,AUT,pairs,X,Gold
3,1924,Chamonix,Bobsleigh,Bobsleigh,BEL,four-man,M,Bronze
4,1924,Chamonix,Ice Hockey,Ice Hockey,CAN,ice hockey,M,Gold

# Ficheros XLS y XLSX

In [103]:
filepath = "titanic/titanic3.xls"

'/Users/carlosdavila/Developer/Anaconda-projects/Curso-ml-python/jupiter-notebooks'

In [106]:
titanic2 = pd.read_excel(coursepath + "/" + filepath, "titanic3")

In [108]:
titanic3 = pd.read_excel(coursepath + "/" + filepath, "titanic3")

**Funciones para pasar el data frame a diferentes formatos:**

- `to.csv()`
- `to.excel()`
- `to.json()`

In [109]:
titanic3.to_csv(mainpath + "/titanic/titanic_custom.csv")

In [110]:
titanic3.to_excel(mainpath + "/titanic/titanic_custom.xls")

In [111]:
titanic3.to_json(mainpath + "/titanic/titanic_custom.json")